<!DOCTYPE html>
<html>
<head>
  <title>Calpicker</title>
  <%= stylesheet_link_tag    "calpicker/application", :media => "all" %>
  <%= javascript_include_tag "calpicker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
